.header{
    padding-top: 100px;
    height: 34vw;
    width: 100%;
    margin: 10px auto;
    background: url('./header_img.jpg') no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 110px;
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    bottom: 40%;
    left: 4vw;
    animation: fadeIn 3s;
}

.header-contents h2{
    font-weight: 500;
    color: white;
    max-width: 60%;
    font-size: max(4.5vw,22px);
}

.header-contents p{
    color: black;
    font-size: 1vw;
    font-weight: 500;
    position: absolute;
    max-width: 45%;
    top: 130%;
    left: 30%;
    text-align: center;
}

.header-contents button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw,13px);
    border-radius: 50px;
    width: 200px;
}
.header-contents button:hover{
    background-color: white;
    
}

/* 1050px View - Adjusting Max Width */
@media (max-width: 1050px) {
    .header-contents {
        max-width: 55%;
    }
    .header-contents h2 {
        max-width: 70%;
        font-size: max(4vw, 20px);
        position: relative;
        top: -10px;
    }
    .header-contents p {
        font-size: max(1vw, 14px);
        top: 120%; /* Keeps the same position */
        left: 68%;
        font-size: 50%;
    }
}

/* 750px View - Mobile Optimization */
@media (max-width: 750px) {
    .header-contents {
        max-width: 65%;
        align-items: center;
        text-align: center;
    }
    
    .header-contents h2 {
        font-size: max(3vw, 16px);
        max-width: 80%;
        position: relative;
        top: 20px;
        left: 0px;

    }

    .header-contents p {
        display: none;
    }

    .header-contents button {
        padding: 2vw 4vw;
        font-size: max(1.2vw, 14px);
        position: relative;
        bottom: -70px;
        left: 90px;
    }
}

@media (max-width: 600px){
    .header-contents button {
        padding: 1.5vw 2vw;
        font-size: max(1.2vw, 14px);
        position: relative;
        bottom: -50px;
        left: 45px;
    }   
}
